.imgName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 10px;

  .vect,
  .photo {
    display:flex;
    
    


    .imgButton {
      width: 40px;
      height: 80px;
      display: flex;
      justify-content: flex-end;
      #photos {
        width: 40px;
        height: 80px;
      }
      .bigger {
        width: 10px;
        height: 10px;
        margin: 2px;
        position: absolute;
      }
      .heart {
        width: 10px;
        height: 10px;
        margin-top:20px;
        position: absolute;
      }
    }
    .biggerPhoto {
      display: flex;
      flex-direction: column;
      
      align-items:center;
      position: absolute;
      
      width: 75%;
      height: 50%;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.568);
      margin-left: 9%;
      margin-top: 20%;
      animation: fadein 1s;
      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .close {
       
       
        border: transparent;
        border-radius: 20%;
        position: absolute;
        height: 18px;
        color: hsl(0, 0%, 0%);
        margin-left:200px;
        
        
        
      }

      img {
        width: 80px;
        height: 160px;
      }
    }

    #imgSrc {
      width: 40px;
      height: 80px;
    }
  }
}
