.allDoors {
    background-color: red;
    h2 {
      text-align: center;
      font-size: 60px;
    }
    
       
        
       
  
    
    img {
      height: 7vh;
      width: 7%;
      margin: 10px;
    }
  }