.react-tabs {
    -webkit-tap-highlight-color:  rgb(218, 208, 208);
    
  
    &__tab-list {
      border-bottom: 2px solid white;
      margin: 10px 0 10px;
      padding: 0;
      display: flex;
      justify-content: center;
      
    }
  
    &__tab {
      
      border: 1px solid transparent;
      border-bottom: none;
      bottom: -1px;
      position: relative;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
  
      &--selected {
        background: white;
        border-color:  white;
        color: black;
        border-radius: 5px 5px 0 0;
        
        
      }
  
      
  
      
    }
  
    &__tab-panel {
      display: none;
  
      &--selected {
        display: block;
      }
    }
  }
  